/**
 * Customized Horizontal CSS Drop-Down Menu for Moodle settings
 *
 * @file		menubar.css
 * @version		1.0
 * @stacks		597-599
 * @browsers	Windows: IE7+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @author		http://www.lwis.net/
 * @modified by         Lei Zhang
 * @Copyright           GNU GENERAL PUBLIC LICENSE Version 3.0
 */

/* @group MenuBar */

#menubar{
	height:35px;
	background-color:#385799;
	margin:0;
	text-shadow: 0 1px 0 #000;
	vertical-align: middle;
	text-align: center;
	padding-top: 5px;
}

#menushell {
	width: 985px !important;
	background: transparent;
	margin-left: auto;
	margin-right: auto;
}

#menucenter {

	margin-left: 210px;
	border:  1px solid #000;
	border-bottom: 0px none;
	background: #6179af;
	padding-top: 5px;
	text-align: left;
}

#menubar #home, #menubar #menubarNavMenu{
	float:left;
	border: 0px none;
	padding:2px 3px 1px;
	width:auto;
	height:20px;
}

#menubar ul.dropdown > li span{
	height:17px;
}

#menubar ul.dropdown ul {
	left:0px;
	right:auto;
}

#menubar ul.dropdown ul ul {
	left:100%;
}

#menubar ul.dropdown li span {
	width:auto; 
	padding-left:8px; 
	padding-right:8px;
}

#menubar ul.dropdown ul span {
	width:145px; 
	padding-left:20px; 
	padding-right:6px;
}

#menubar #menubarHomeMenu ul span {
	width:125px; 
	padding-left:20px; 
	padding-top:4px;
}

#menubar #menubarHomeMenu ul a {
	width:146px; 
	padding-top:4px;
}

#menubar #menubarHomeMenu ul li.clickable-with-children > a {
	width:125px; 
	padding-top:4px;
}

/* @end */
.topadminsearchform{
	float:right;
}

input#topadminsearchquery{
	background:#fff url([[pix:theme|search_icon]]) no-repeat 1px 2px;
	width:200px;
	margin:1px 10px 2px 0;
	padding:5px 0 0 17px;
	border: 1px solid #000;
	color: #777;
}

/* @group Dropdown */
#MainHomeMenu {
	margin-top: 10px;
	margin-left: 0px;
}

#MainhomeMenu ul.dropdown li{
	background-color:#0;
}

ul.dropdown,ul.dropdown li,ul.dropdown ul{
	list-style:none;
	margin:0;
	padding:0;
}

ul.dropdown{
	position:relative;
	z-index:597;
	float:left;
	font:13px "Trebuchet MS",Arial,Helvetica,sans-serif;
}

ul.dropdown li{
	float:left;
	line-height:1.5em;
	vertical-align:middle;
	background-color:transparent;
	color:#fff;
	zoom:1 !important;
}

ul.dropdown li.hover,ul.dropdown li:hover{
	position:relative;
	z-index:599;
	cursor:default;
	}
	
ul.dropdown ul{
	visibility:hidden;
	position:absolute;
	top:100%;
	z-index:598;
	left:auto;
	right:0;
	margin-top:-1px;
	font:13px "Trebuchet MS",Arial,Helvetica,sans-serif;
}

ul.dropdown ul li{
	float:none;
	background-color:#6179af;
	padding:0;
}

ul.dropdown ul ul{
	top:0;
	right:auto;
	left:100%;
	margin-top:0;
	border-top:none;
	border-left:none;
	font-weight:400;
}

ul.dropdown li:hover > ul{
	visibility:visible;
}

ul.dropdown span,ul.dropdown span a,ul.dropdown li.clickable-with-children > a{
	background-image:none;
	background-position:100% 50%;
	background-repeat:no-repeat;
	width:145px;
	padding:2px 6px 4px 20px;
}

ul.dropdown ul span, ul.dropdown ul span a, ul.dropdown ul li.clickable-with-children > a{
	background-image:url([[pix:theme|nav-arrow-right]]);
	background-position:100% 50%;
	background-repeat:no-repeat;
}

ul.dropdown ul ul span, ul.dropdown ul ul span a, ul.dropdown ul ul li.clickable-with-children > a{
	background-image:url([[pix:theme|nav-arrow-right2]]);
}

ul.dropdown a:link,ul.dropdown a:visited{
	color:#fff;
	text-decoration:none;
}

ul.dropdown a:hover{
	border-top-color:#76B900 !important;
	border-left-color:#5db1e0;
	background-color:#39589a;
	color:#fff;
}

ul.dropdown li.clickable-with-children > a:hover {
	border-top-color:#595959 !important;
}

ul.dropdown ul a.dir:hover{background-color:#4698ca;background-image:url([[pix:theme|ab-arrowon]]);color:#fff;}

ul.dropdown ul ul li{
	background-color:#6179af;
}

ul.dropdown ul ul ul li{
	background-color:#6179af;
}

ul.dropdown li a,ul.dropdown span,ul.dropdown span a{
	border-bottom: 1px solid transparent;
}

ul.dropdown ul li a,ul.dropdown ul span,ul.dropdown ul span a{
	border-left:none;
	border-color:#ccc;
}

ul.dropdown ul ul li a,ul.dropdown ul ul span, ul.dropdown ul ul span a{
	border-color:#fff #fff #fff;
}

ul.dropdown ul ul ul li a,ul.dropdown ul ul ul span, ul.dropdown ul ul ul span a{
	border-color:#fff #fff #fff;
}

ul.dropdown a,ul.dropdown span{
	display:block;
}

ul.dropdown ul a{
	width:166px;
	padding:2px 0 4px 5px;
}

ul.dropdown ul a.dir{
	width:111px;
}

ul.dropdown ul *.open{
	background-color:#39589a;
	background-image:url([[pix:theme|ab-arrowover]]);
	color:#fff;
}

ul.dropdown ul a.open:hover{
	background-image:url([[pix:theme|ab-arrowon]]);color:#fff;
}

ul.dropdown ul li:hover > span, ul.dropdown ul li:hover > span a{
	background-color:#39589a;
	background-image:url([[pix:theme|ab-arrowover]]);
}

ul.dropdown li.clickable-with-children:hover > a{
	background-image:url([[pix:theme|ab-arrowover]]);
}

ul.dropdown *.open,ul.dropdown li:hover > span, ul.dropdown li:hover > span a{
	background-color:#39589a;
}

ul.dropdown ul ul *.open,ul.dropdown ul ul li:hover > span, ul.dropdown ul ul li:hover > span a{
	background-color:#6179af;
	background-image:url([[pix:theme|ab-arrowover2]]);
	color:#fff;
}

ul.dropdown a.open:hover,ul.dropdown li:hover > a.dir:hover{
	background-color:#4698ca;
	color:#fff;
}

ul.dropdown a:active,ul.dropdown ul li:hover > a.dir:hover{
	color:#fff;
}

/* @end */

/* @group Custom Menu */

#custommenu{
	height:30px;
	font-size: .5em;
	margin:0;
	margin-top: -65px;
	margin-right: -55px;
	padding:0 10px;
	float: right;
}

#custommenu a {
	color: #5f77b0;
}
	
#custommenu ul.dropdown {
	z-index: 1;
}

#custommenu ul.dropdown span, 
#custommenu ul.dropdown span a, 
#custommenu ul.dropdown li.clickable-with-children > a {
	text-align: center;
}

#custommenu ul.dropdown span {
	border:1px solid #cbcbcb;
	margin-right: 5px;
	background: #e5e8f2;
}

#custommenu ul.dropdown a:hover{
	border:none;
	background-color:#c5cce7;
	color:#fff;
}

#custommenu ul.dropdown ul *.open{
	background-color:#c5cce7;
	color:#fff;
}

#custommenu ul.dropdown ul {
	z-index: 698;
}

#custommenu ul.dropdown li {
	z-index: 699;
}

#custommenu ul.dropdown ul li{
	float:none;
	background-color:#e5e8f2;
	padding:0;
	border:1px solid #cbcbcb;
	margin-top: 2px;
}

ul.dropdown span.customitem {
	padding:0;
	border:0; 
	width: auto;
}

ul.dropdown span.customitem a {
	padding:6px 20px 6px 20px;
}

#custommenu ul.dropdown ul {
	padding:0;
	width:185px;
}

#custommenu ul.dropdown ul a {
	padding:5px;
}

#custommenu ul.dropdown > li span a {
	height:20px;
}

#custommenu ul.dropdown *.open,
#custommenu ul.dropdown li:hover > span, 
#custommenu ul.dropdown li:hover > span a{
	background-color:#c5cce7;
}

#custommenu ul.dropdown ul a.open:hover{
	color:#fff;
	background: #c5cce7;
}

#custommenu ul.dropdown ul li:hover > span, 
#custommenu ul.dropdown ul li:hover > span a{
	background-color:#c5cce7;
}

#custommenu ul.dropdown li.clickable-with-children:hover > a{
	background: #c5cce7;
}

#custommenu ul.dropdown ul a.dir:hover{
	background: #c5cce7;
	color:#fff;
}

#custommenu ul.dropdown ul span, 
#custommenu ul.dropdown ul span a, 
#custommenu ul.dropdown ul li.clickable-with-children > a {
	border: none;
	background: transparent;
}

#custommenu ul.dropdown ul li:hover > span, 
#custommenu ul.dropdown ul li:hover > span a {
	background: #c5cce7;
	border: none;
}

/* @end */